.site-header .wrapper .site-title {
  font-weight: 800 !important;
  font-size: 1.5em !important;
  letter-spacing: 0.02em !important;
}

@media (max-width: 600px) {
  .site-header .wrapper .site-title {
    font-size: 1.2em !important;
    font-weight: 800 !important;
  }
}

.post-list {
  font-size: 0.9em !important;
}

.post-list li {
  margin-bottom: 0.5em !important;
}

.post-list .post-meta {
  margin-bottom: 0 !important;
}

.post-list h3 {
  font-size: 1.1em !important;
  margin-bottom: 0.2em !important;
}

.footer-text {
  font-size: 0.85em;
  color: #828282;
}
